@use "pico" with (
    $theme-color: "jade",
    $css-var-prefix: "--m-",
    $enable-semantic-container: true,
    $enable-classes: true,
    $modules: (
        "content/code": false,
        "forms/input-color": false,
        "forms/input-date": false,
        "forms/input-file": false,
        "forms/input-range": false,
        "forms/input-search": false,
        "components/accordion": false,
        "components/card": false,
        "components/dropdown": false,
        "components/loading": false,
        "components/modal": false,
        "components/nav": true,
        "components/progress": false,
        "components/tooltip": false,
        "utilities/accessibility": true,
        "utilities/reduce-motion": false
    )
);

/* Font */
@font-face {
    font-family: 'Iosevka';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    src: url('/fonts/IosevkaFixedSS04-Light.woff2') format('woff2');
}

:root {
    --m-font-family: 'Iosevka', monospace;
    --m-spacing: 0.5rem;
    --m-font-weight: 300;
}

b, strong {
    font-weight: bold;
}

:where(h1) {
  margin-block: 0.67em;
  font-size: 2em;
}

#articles > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#articles ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#articles p {
    font-size: 0.7rem;
}

#article-link .title {
    font-size: 1.5rem;
}

body {
    height: 100vh;
}

body > footer {
    position: sticky;
    top: 100vh;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

footer p {
    font-size: 0.8rem;
}

#avatar {
    color: black;
}

#profile {
    display: grid;
    grid-template-areas:
        "content"
        "portrait"
        "social";
    justify-content: left;
}

/* Assign each child to a grid area */
#portrait {
    grid-area: portrait;
}

.portrait {
    height: 200px;
}

#social {
    grid-area: social;
    display: flex;
    gap: 10px;
}

#content {
    grid-area: content;
}

.u-url {
    text-decoration: none;
}

/* On wider screens (e.g., desktop), restore natural order */
@media (min-width: 768px) {
    #profile {
        grid-template-areas:
            "portrait"
            "content"
            "social";
    }

    .portrait {
        height: 400px;
    }
}

// Icons
.social {
    width: 32px;
    height: 32px;
}

.mastodon {
    background-image: url(/img/social/mastodon.svg);
    background-size: contain;
}

.github {
    background-image: url(/img/social/github.svg);
    background-size: contain;
    // color: $theme-color;
}

.linkedin {
    background-image: url(/img/social/linkedin.svg);
    background-size: contain;
}

.rss {
    background-image: url(/img/social/rss.svg);
    background-size: contain;
}
