<!-- Header -->
<header class="container">
  <nav role="navigation" data-position="end" data-breakpoint="lg">
    <ul>
      <li><a href="/">MDS</a></li>
    </ul>
    <input type="checkbox" id="menu-btn" />
    <label for="menu-btn" style="font-size: calc(var(--m-font-size) * 2);" aria-label="Menu" aria-controls="top-nav">&#9776;</label>
    <ol id="top-nav" role="list">
      {{ range .Site.Menus.main }}
      <li role="listitem"><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ol>
  </nav>
</header>
