<!-- Header -->
<header>
<nav role="navigation" data-position="end" data-breakpoint="lg">
  <ul>
    <li><a href="/">MDS</a></li>
  </ul>
  <input type="checkbox" id="menu-btn2">
  <label for="menu-btn2" style="font-size: calc(var(--pico-font-size) * 1.3);" aria-label="Menu"
    aria-controls="nav-example2">
    &equiv;
  </label>
  <ol id="nav-example2" role="list">
    {{ range .Site.Menus.main }}
    <li role="listitem"><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ol>
</nav>
</header>
