{{ define "main" }}
<section class="row-fluid">
  <div class="col-12 offset-md-2 col-md-4">
    {{ partialCached "portrait.html" . }}
    {{ .Content }}
    <p>You can find me on:
      {{ range .Site.Params.social }}
      <a href="{{ .URL }}" aria-label="{{ .name }} profile">{{ .name }}</a>
      {{ end }}
    </p>
  </div>
  <div id="articles" class="col-12 offset-md-7 col-md-4">
    <hgroup>
      <h3>Recent articles</h3>
    </hgroup>
    <ul>
      {{ range where site.RegularPages "Section" "articles" }}
      <li>{{ partial "article-link.html" . }}</li>
      {{ end }}
    </ul>
</section>
{{ end }}
